<ul id="dropdown1" class="dropdown-content">
  <li><a href="#november16">November</a></li>
  <li><a href="#october16">October</a></li>
  <li><a href="#september16">September</a></li>
  <li><a href="#august16">August</a></li>
  <li><a href="#july16">July</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper indigo darken-4 hoverable">
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/info">Contact</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Packages<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="subheader">Links</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/info">Contact</a></li>
      <li><a href="/packages">Prices</a></li>
      <li class="divider"></li>
      <li><a class="subheader">Photos by Month</a></li>
      <li><a href="#november16">November</a></li>
      <li><a href="#october16">October</a></li>
      <li><a href="#september16">September</a></li>
      <li><a href="#august16">August</a></li>
      <li><a href="#july16">July</a></li>
    </ul>
  </nav>

<div id="galleryWrapper">
  <h1>Gallery</h1>
  <div id="november16" class="section scrollspy">
    <div class="GalleryRow">
      <h2>November 2016</h2>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Nov 17.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Nov 16.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Noviembre 4.jpg"/>
      </div>
    </div>

    <div class="GalleryRow">
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Nov 8.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Noviembre 9.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Nov 6.jpg"/>
      </div>
    </div>
    <div class="GalleryRow">
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Noviembre 12.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Noviembre 11.jpg"/>
      </div>
      <div class="content">
        <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Noviembre 1.jpg"/>
      </div>
    </div>
  </div>






  <div id="galleryWrapper">
    <div id="october16" class="section scrollspy">
      <div class="GalleryRow">
        <h2>October 2016</h2>
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 16.jpg"/>
        </div>
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 12.jpg"/>
        </div>
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 13.jpg"/>
        </div>
      </div>


      <div class="GalleryRow">
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 14.jpg"/>
        </div>
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 8.jpg"/>
        </div>
      </div>
      <div class="GalleryRow">
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 7.jpg"/>
        </div>
        <div class="content">
          <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Oct 11.jpg"/>
        </div>
      </div>
      <div class="videoRow">
        <div class="card-panel grey darken-4 hoverable">
          <video class="responsive-video" controls>
            <source src="vid2.mp4" type="video/mp4" height="400px">
            </video>
          </div>
        </div>
      </div>
    </div>



    <div id="galleryWrapper">
      <div id="september16" class="section scrollspy">
        <div class="GalleryRow">
          <h2>September 2016</h2>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 13.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 18.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 15.jpg"/>
          </div>
        </div>

        <div class="GalleryRow">
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 10.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 9.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Sep 7.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <div id="galleryWrapper">
      <div id="august16" class="section scrollspy">
        <div class="GalleryRow">
          <h2>August 2016</h2>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 14.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 20.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 15.jpg"/>
          </div>
        </div>

        <div class="GalleryRow">
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 10.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 13.jpg"/>
          </div>
          <div class="content">
            <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Agust 7.jpg"/>
          </div>
        </div>
        <div class="videoRow">
          <div class="card-panel grey darken-4 hoverable">
            <video class="responsive-video" controls>
              <source src="vid1.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>


      <div id="galleryWrapper">
        <div id="july16" class="section scrollspy">
          <div class="GalleryRow">
            <h2>July 2016</h2>
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 3.jpg"/>
            </div>
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 7.jpg"/>
            </div>
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 6.jpg"/>
            </div>
          </div>

          <div class="GalleryRow">
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 5.jpg"/>
            </div>
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 4.jpg"/>
            </div>
            <div class="content">
              <img class="materialboxed" data-caption="Date goes here" width="500" height="400" src="Jul 2.jpg"/>
            </div>
          </div>
        </div>
      </div>

    </div>
