<div class="navbar-fixed">
  <nav>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper indigo darken-4 hoverable">
      <ul class="right hide-on-med-and-down">
        <li><a href="/info">Contact</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/packages">Prices</a></li>
      </ul>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="subheader">Links</a></li>
      <li><a href="/info">Contact</a></li>
      <li><a href="/packages">Prices</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
<div id="indexWrapper">
  <div class="slider" height"800px">
    <ul class="slides" height"700px">
      <li>
        <img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/14034686_10206364589223635_97944723079403443_n.jpg?oh=942f178e29f1fd862355f252018d53bf&oe=58C2B7D7">
        <div class="caption left-align">
          <h3 style=>All types of events!</h3>
          <h5 class="dark grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/15055888_10207010667735194_3001366126093686995_n.jpg?oh=eb5d4ff070790b375d7f8aca3f9e0824&oe=58C49D8E">
        <div class="caption center-align">
          <h3>Fun for all occasions</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/14233025_10206473832274643_5686413821669846170_n.jpg?oh=c387698cee5d3b70197446975782b44d&oe=58BCBD12">
        <div class="caption right-align">
          <h3>Reserve your date now</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
    <div class="center">
      <h1>Get to know me </h1>
      <p class="flow-text">Ever since I was 18 I've been behind the mixer back when turntables didn't have all the features they do now. only those with an aptitude were able to DJ.After many years of playing at clubs, I'm still behind the mixer making normal parties to unforgettable nights.</p>
    </div>
    <div class="center-bottom">
      <h1>Satified costumers</h1>
      <blockquote>
        <h5>"After all these years I finally found a real Dj"</h5>
        <p>-Felix Cardona</p>
      </blockquote>

      <blockquote>
        <h5>"Thanks DjEnrique salas for a night full of good music and great setup"</h5>
        <p>-Brenda Sanchez</p>

      </blockquote>

      <blockquote>
        <h5>"Thank you so much my Family and I had so much fun"</h5>
        <p>-Cecilia Llamas</p>
      </blockquote>
    </blockquote>
  </div>
</div>
