<div class="navbar-wrapper">
  <nav>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper hoverable grey darken-3 hoverable">
      <ul class="right hide-on-med-and-down waves-effect waves-light">
        <li><a href="/">Home</a></li>
        <li><a href="/packages">Prices</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </div>
    <ul class="side-nav grey darken-4" id="mobile-demo">
      <li><a style="color:white" href="/">Home</a></li>
      <li><a style="color:white" href="/packages">Prices</a></li>
      <li><a style="color:white" href="/gallery">Gallery</a></li>
    </ul>
  </nav>
</div>
<div id="pricingWrapper">
  <h1 style="color:#262228">Contact Us</h1>
  <div class="contact">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel orange darken-2 hoverable">
          <span class="white-text">
            <h1 style="color:black">Get in touch</h1>
            <p class="flow-text" style="color:black">Email:vjenrix@hotmail.com</p>
            <p class="flow-text" style="color:black">Number:708-224-8995</p>
            <p class="flow-text" style="color:black">To make an appointment just call the number above!</p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="socialMedia">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey darken-3 hoverable">
          <div class="card-image">
            <a href="https://www.facebook.com/djenrique.salas?ref=br_tf">
              <img height="150px"src="https://www.facebook.com/images/fb_icon_325x325.png">
            </a>
          </div>
          <span class="card-title">Friend me on Facebook</span>
        </div>
      </div>
    </div>
  </div>

  <div class="socialMedia">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey darken-3 hoverable">
          <div class="card-image">
            <a href="https://www.instagram.com/vdj_enrique_salas/?hl=en">
              <img height="150px"src="http://diylogodesigns.com/blog/wp-content/uploads/2016/05/Instagram-logo-png-icon.png">
            </a>
          </div>
          <span class="card-title">Follow me on Instagram</span>
        </div>
      </div>
    </div>
  </div>

  <div class="socialMedia">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey darken-3 hoverable">
          <div class="card-image">
            <a href="">
              <img height="150px"src="https://assets.change.org/photos/6/nx/ft/aENxftCFmGKPOMO-800x800-noPad.jpg?1453773349">
            </a>
          </div>
          <span class="card-title">Subscribe on youtube</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
