<ul id="dropdown1" class="dropdown-content">
  <li><a href="#gold">Gold</a></li>
  <li><a href="#diamond">Diamond</a></li>
  <li><a href="#vip">V.I.P</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper red hoverable">
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/info">Contact</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Packages<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="subheader">Links</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/info">Contact</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li class="divider"></li>
      <li><a class="subheader">Packages</a></li>
      <li><a href="#gold">Gold</a></li>
      <li><a href="#diamond">Diamond</a></li>
      <li><a href="#vip">V.I.P</a></li>
    </ul>
  </nav>
<div class="packageWrapper">
  <h1 style="color:white">Packages</h1>
  <div class="gold">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel amber hoverable">
          <span class="white-text">
            <h1>Gold</h1>
            <div id="gold" class="section scrollspy">
            <p class="flow-text">50 - 150 Guest</p>
            <p class="flow-text">5 hours of entertainment</p>
            <p class="flow-text">2 Subwoofers and 2 speakers</p>
            <p class="flow-text">1 Pioneer DDJ-SZ controller</p>
            <p class="flow-text">1 DJ Booth</p>
            <p class="flow-text">1 Led bar Light</p>
            <p class="flow-text">2 Global Truss</p>
            <p class="flow-text">2 50' Hd tvs</p>
            <p class="flow-text">2 Vizi RXONE Moving Heads</p>
            <p class="flow-text">2 ADJ Stinger Mooflower</p>
            <p class="flow-text">2 ADJ Mega Par(Uplighting)</p>
            <p class="flow-text">1 Wireless microphone</p>
            <p class="flow-text">Complimentary slide show</p>
            <p class="flow-text">Price: $500 or 100 x Hour</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="parallax-container">
    <div class="parallax"><img src="may 7.jpg"></div>
  </div>
<div class="packageWrapper">
  <h1>diamond</h1>
  <div class="gold">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel light-blue hoverable">
          <span class="white-text">
            <h1>Diamond</h1>
            <div id="diamond" class="section scrollspy">
            <p class="flow-text">50 - 500 Guest</p>
            <p class="flow-text">5 hours of entertainment</p>
            <p class="flow-text">2 Subwoofers and 2 speakers</p>
            <p class="flow-text">1 Pioneer DDJ-SZ controller</p>
            <p class="flow-text">1 DJ Booth</p>
            <p class="flow-text">1 Led bar Light</p>
            <p class="flow-text">1 Global Truss square metallic structure</p>
            <p class="flow-text">2 50' Hd tvs</p>
            <p class="flow-text">4 Vizi RXONE Moving Heads</p>
            <p class="flow-text">2 ADJ Stinger Mooflower</p>
            <p class="flow-text">1 Wireless microphone</p>
            <p class="flow-text">4 ADJ Mega Par(Uplighting)</p>
            <p class="flow-text">2 Fog Jet Fury fog machines</p>
            <p class="flow-text">1 Wireless microphone</p>
            <p class="flow-text">Complimentary slide show</p>
            <p class="flow-text">Price: $650 or 130 x Hour</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://scontent.ford4-1.fna.fbcdn.net/v/t1.0-9/13895139_10206277844615074_4284458676471807758_n.jpg?oh=24b9c09dee1bc68e7db8f954419ef4bf&oe=58BB6AE9"></div>
</div>
<div class="packageWrapper">
  <div id="vip" class="section scrollspy">
  <h1>diamond</h1>
  <div class="gold">
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel white hoverable">
          <span class="white-text">
            <h1>VIP</h1>
            <p class="flow-text">50 - 500 Guest</p>
            <p class="flow-text">5 hours of entertainment</p>
            <p class="flow-text">2 Subwoofers and 2 speakers</p>
            <p class="flow-text">1 Pioneer DDJ-SZ controller</p>
            <p class="flow-text">1 DJ Booth</p>
            <p class="flow-text">1 Led bar Light</p>
            <p class="flow-text">1 Global Truss square metallic structure</p>
            <p class="flow-text">2 Global Truss</p>
            <p class="flow-text">1 video Wall</p>
            <p class="flow-text">4 Vizi RXONE Moving Heads</p>
            <p class="flow-text">2 ADJ Stinger Mooflower</p>
            <p class="flow-text">1 Wireless microphone</p>
            <p class="flow-text">8 ADJ Mega Par(Uplighting)</p>
            <p class="flow-text">2 Fog Jet Fury fog machines</p>
            <p class="flow-text">1 Wireless microphone</p>
            <p class="flow-text">Complimentary slide show</p>
            <p class="flow-text">Price: $850 or 170 x Hour</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/14034686_10206364589223635_97944723079403443_n.jpg?oh=942f178e29f1fd862355f252018d53bf&oe=58C2B7D7"></div>
</div>
<footer class="page-footer red">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">For more information call 708-224-8995</h5>
             <p class="grey-text"></p>
           </div>
           <div class="col l4 offset-l2 s12">
             <ul>
               <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
               <li><a class="grey-text text-lighten-3" href="/gallery">Gallery</a></li>
               <li><a class="grey-text text-lighten-3" href="/info">Contact</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2014 Copyright Text
         </div>
       </div>
</footer>
